<!DOCTYPE HTML>
{% load static %}
{% load bootstrap %}

<html>
	<head>
		<title>Facturación | Hilandería Hilcor </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-panels.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	</head>
	<body>

	<div id="header-wrapper">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<div id="logo">
							<a href="{% url 'index' %}"><img src="{% static 'images/hilcor-logo.png' %}" alt=""></a>
						</div>
					
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								{% if user.is_authenticated %}
									<li class="active">
										<a href='#'> Bienvenido, {{ request.user.first_name}} </a>
									</li>
									<li>
										<a href="{% url 'logout' %}">Cerrar Sesión</a>
									</li>
								{% endif %}
							</ul>
						</nav>
	
				</div>
			</div>
		<!-- Header -->

		<!-- Banner -->
			<div id="banner">
				<div class="container">
				</div>
			</div>
		<!-- /Banner -->

	</div>

	<!-- Main -->
		<div id="main">
			<div class="container-2">
				<div class="row">
		
					<div class="3u">
						<section class="sidebar">
							<header>
								<h2>Menú</h2>
							</header>
							<ul class="default">
								<li><a href="{% url 'products' %}">Administrar Productos</a></li>
								<li><a href="{% url 'quotes' %}">Cotizaciones</a></li>
								<li><a href="{% url 'payment_orders' %}">Órdenes de Compra</a></li>
								<li><a href="{% url 'invoices' %}">Facturas</a></li>
								<li><a href="{% url 'reports' %}">Reportes</a></li
							</ul>
						</section>
					</div>
				
					<div class="5u skel-cell-important">
						<section>
							<header>
								<h4>Factura de Cotización {{invoice.quote.number}} </h4>
							</header>
							{% if error_message %}
								<p>
									<strong>
										{{ error_message }}
									</strong>
								</p>
							{% endif %}

								<form method="POST" role="form" class="post-form">
									{% csrf_token %}
						            {{ form | bootstrap }}
						    	
					</div>
					<div class="4u skel-cell-important">
						<section>
							<header>
								<h4>Productos</h4>
							</header>
					
							{{ product_formset.management_form }}
							{% for form_p in product_formset %}
								{{ form_p | bootstrap  }}
								<hr class="hr-red">
							{% endfor %}

							<button style="float:right;" type="submit" class="btn btn-danger">
								<i class="fa fa-plus" aria-hidden="true"></i> 
								Guardar Factura
							</button>

							<a href="{% url 'products' %}">
								<button style="float:right;" type="button" class="btn btn-secondary">
								<i class="fa fa-times" aria-hidden="true"></i> 
								Cancelar
								</button>
							</a>
						</form>
					 </div>
				</div>
			</div>
		</div>
	<!-- Main -->
	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				{% if user.is_authenticated %}
					<a href="{% url 'dashboard' %}"> Administración </a>  | 
					<a href="{% url 'logout' %}">Cerrar Sesión</a>
				{%else%}
					<a href="{% url 'access' %}"> Iniciar Sesión </a> 
				{% endif %}
				<p></p>
				<p>
					Copyright © 2017 | Hilandería Hilcor C.A.  RIF: J-29395972-1. Avenida Los Pioneros, Edficio Hilcor. Zona Industrial de Araure, estado Portuguesa. Teléfonos 664.51.08 /621.58.78. Email hilanderia.hilcor@hotmail.com
				</p>
			</div>
		</div>
	</body>
</html>