{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Hilandería Hilcor</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-panels.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<script src="{% static 'js/bootstrap.js' %}"></script>
	</head>
	<body class="homepage">

	<div id="header-wrapper">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<div id="logo">
							<a href="{% url 'index' %}"><img src="{% static 'images/hilcor-logo.png' %}" alt=""></a>
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="active"><a href="{% url 'index' %}">Inicio</a></li>
								<li><a href="{% url 'us' %}">Nosotros</a></li>
								<li><a href="{% url 'our_products' %}">Productos</a></li>
								<li><a href="{% url 'contact' %}">Contacto</a></li>
								<li><a href="{% url 'consult' %}">Consultar</a></li>
							</ul>
						</nav>
	
				</div>
			</div>
		<!-- Header -->

		<!-- Banner -->
			<div id="banner">
				<div class="container">
					<section>
						<br>
						<br>
						<br>
						<br>
						<br>
					</section>	
				</div>
			</div>
		<!-- /Banner -->

	</div>

	<!-- Extra -->
		<div id="extra">
			<div class="container">
				<div class="row">
					<section class="3u">
						<header>
							<h2>Mauris vulputate</h2>
						</header>
						<span class="fa fa-magic"></span>
						<p>Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus.</p>
					</section>
					<section class="3u">
						<header>
							<h2>Fusce ultrices</h2>
						</header>
						<span class="fa fa-wrench"></span>
						<p>Pellentesque tristique ante ut risus. Integer risus congue. Suspendisse dictum porta lectus.</p>
					</section>
					<section class="3u">
						<header>
							<h2>Maecenas luctus</h2>
						</header>
						<span class="fa fa-chain"></span>
						<p>Suspendisse dictum porta lectus. Integer nisl risus, sagittis convallis, rutrum congue nibh. </p>
					</section>
					<section class="3u">
						<header>
							<h2>Donec dictum</h2>
						</header>
						<span class="fa fa-briefcase"></span>
						<p>In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula augue praesent.</p>
					</section>
				</div>
				<a href="#" class="button medium">Etiam posuere augue</a>
			</div>
		</div>

	<!-- /Extra -->

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<section>
					<header>
						<h2>Nuestros Productos</h2>
						<span class="byline">Ofrecemos los hilos de mejor calidad en el mercado nacional
							elaborados con nuestros propios cultivos de algodón</span>
					</header>
				</section>
				<div class="row">
					{% for product in product_list %}
						<section class="4u">
							<a href="#" class="image full"><img src="{% static 'images/hilos1.jpg' %}" alt=""></a>
							<p>{{ product.description }}</p>
							<p><a href="#" class="button">{{ product.name }}</a></p>
						</section>
					{% endfor %}
				</div>
			</div>
			<br>
			<p><a href="{% url 'our_products' %}" class="button">Todos Nuestros Productos</a></p>
		</div>
	<!-- /Featured -->

	<!-- Footer -->
		
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				{% if user.is_authenticated %}
					<a href="{% url 'dashboard' %}"> Administración </a>  | 
					<a href="{% url 'logout' %}">Cerrar Sesión</a>
				{%else%}
					<a href="{% url 'access' %}"> Iniciar Sesión </a> 
				{% endif %}
				<p></p>
				<p>
					Copyright © 2017 | Hilandería Hilcor C.A.  RIF: J-29395972-1. Avenida Los Pioneros, Edficio Hilcor. Zona Industrial de Araure, estado Portuguesa. Teléfonos 664.51.08 /621.58.78. Email hilanderia.hilcor@hotmail.com
				</p>
			</div>
		</div>
	</body>
</html>