{% load static %}
{% load bootstrap %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Consulta de Cotización {{quote.number}} | Hilandería Hilcor</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-panels.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-desktop.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<script language="javascript" type="text/javascript">
			function popitup(url) {
			    newwindow=window.open(url,'{{title}}','width=750px, height=750px');
			    if (window.focus) {newwindow.focus()}
			    return false;
			}
		</script>
	</head>
	<body>

	<div id="header-wrapper">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<div id="logo">
							<a href="{% url 'index' %}"><img src="{% static 'images/hilcor-logo.png' %}" alt=""></a>
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="{% url 'index' %}">Inicio</a></li>
								<li><a href="{% url 'us' %}">Nosotros</a></li>
								<li><a href="{% url 'our_products' %}">Productos</a></li>
								<li><a href="{% url 'contact' %}">Contacto</a></li>
								<li class="active"><a href="{% url 'consult' %}">Consultar</a></li>
							</ul>
						</nav>
	
				</div>
			</div>
		<!-- Header -->

		<!-- Banner -->
			<div id="banner">
				<div class="container">
				</div>
			</div>
		<!-- /Banner -->

	</div>

	<!-- Main -->
		<div id="main">
			<div class="container-2">
				<h1>Cotización/Pedido Número: {{quote.number}}.</h1>
				<br>
				<div class="row">
					<div class='col-md-6'>
						<h2>Datos del Cliente:</h2>
					      <p> 
					      	<b>Estado:</b> 
					      	{% if quote.status == 'P' %}
					      		Pendiente.
					      	{% elif quote.status == 'A' %}
					      		Activo.
					      	{% elif quote.status == 'E' %}
					      		Procesando.
					      	{% elif quote.status == 'C' %}
					      		Cancelado.
					      	{% else %}
					      		Terminado.
					      	{% endif %}
					      </p>
					      <p> 
					      	<b>Fecha de Solicitud: </b> {{quote.request_date}}
					      </p>
					      <p> 
					      	<b>Empresa: </b> {{quote.company}}
					      </p>
					      <p> 
					      	<b>Persona de Contacto: </b> {{quote.contact}}
					      </p>
					      <p> 
					      	<b>Dirección: </b> {{quote.address}}
					      </p>
					      <p> 
					      	<b>Teléfono: </b> {{quote.phone}}
					      </p>
					      <p> 
					      	<b>Correo Electrónico: </b> {{quote.email}}
					      </p>
					</div>
					<div class='col-md-6'>
						<h2>Productos Solicitados:</h2>
						<hr class="hr-red">
						{% for product in products %}
							<p>
								<b>Producto: </b> {{product.product}}
 							</p>
 							<p>
								<b>Cantidad: </b> {{product.quantity}} {{product.measure}}
 							</p>
							{% if quote.status != 'P'%}
							 <p>
								<b>Precio P/{{product.measure}}: </b> {{product.price_p_u}}
 							</p>
 							 <p>
								<b>Precio Total: </b> {{product.total_price}}
 							</p>
							{% endif %}
							<hr class="hr-red">
						{% endfor %}
					</div>
				</div>
				<hr class="hr-red"><br>
				<div class='row'>
				{% if quote.status != 'P'%}
					<p>
						<b>Total a Pagar: </b> {{quote.total}}<br>
					</p>
					<p>
						<b>Comentarios: </b> {{quote.comment}}<br>
					</p>
				{% endif %}
				{% if quote.status == 'A'%}
					<h2>Métodos de Pago</h2>
						<table class="table">
							<thead>
							  <tr>
							      <th>Banco</th>
							      <th>Nº Cuenta</th>
							      <th>Tipo de Cuenta</th>
							      <th>Cheque</th>
							      <th>Transferencia</th>
							      <th>Depósito</th>
							      <th>A Nombre De:</th>
							    </tr>
							</thead>
						  <tbody>
							{% for payment in payments %}
							 <tr>
							      <td> {{payment.bank}}</td>
							      <td> {{payment.account}}</td>
							      {% if payment.acc_type == 'C' %}
							      	<td> Corriente </td>
							      {% endif%}
								   <td>
							      	{% if payment.check %}
							      		<i class="fa fa-check" aria-hidden="true"></i>
							        {% else %}
							      		<i class="fa fa-times" aria-hidden="true"></i>
							      	{% endif %}
							      	</td>
							      	<td>
							      	{% if payment.transfer %}
							      		<i class="fa fa-check" aria-hidden="true"></i>
							        {% else %}
							      		<i class="fa fa-times" aria-hidden="true"></i>
							      	{% endif %}
							      	</td>
							      	<td>
							      	{% if payment.deposit %}
							      		<i class="fa fa-check" aria-hidden="true"></i>
							        {% else %}
							      		<i class="fa fa-times" aria-hidden="true"></i>
							      	{% endif %}
							      	</td>
							      	<td>{{payment.acc_name}}</td>
							    </tr>
							{% endfor %}
							</tbody>
						</table>
				{% endif %}
					</div>				
				<div align='center'>
				<div class="quote-status">
					{% if quote.status == 'P' %}
				      		<p>Su cotización está a la espera de ser procesada por nuestro equipo de administración.
				      		</p>
				    {% elif quote.status == 'A' and not has_po %}
				      		<p>Su cotización está a la espera de la Orden de Compra. 
				      		Para procesar su pedido, por favor suba la Orden de Compra correspondiente.</p>
				    {% elif quote.status == 'E'  and not has_vouchers %}
				      		<p>Su pedido está a la espera de sus Comprobantes de Pago para ser facturado.</p>
				    {% elif quote.status == 'E' and has_vouchers %}
				      		<p>Su pedido está siendo procesado y facturado.</p>
				    {% elif quote.status == 'C' %}
				      		<p>Esta cotización ya no es válida. Por favor solicite una nueva cotización.</p>
				    {%  elif quote.status == 'T' %}
				      		<p>Este pedido ya ha sido terminado, usted puede imprimir su Factura Proforma y retirar el pedido en nuestros almacenes.</p>
				    {% endif %}
				</div>
			    </div>
				<div align='center'>
				{% if quote.status == 'A' and not has_po %}
				<h2>Órden de Compra</h2>
				<form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
						<div class="col-md-6">
							{% csrf_token %}
				            {{ form_po | bootstrap }}
			        	</div>
			        	{% if error_message %}
							<strong style='color:red;'>
							{{ error_message }} <br><br>
							</strong>
						{% endif %}
					    <button style="float:center;" type="submit" class="btn btn-danger" name="PO"
					            onclick="return confirm('¿Está seguro que desea enviar esta órden de compra?')">
							<i class="fa fa-upload" aria-hidden="true"></i> 
							Enviar
						</button>
				</form>
				{% elif quote.status == 'E' and has_po %}
				<h2>Órden de Compra</h2>
					<p>
						Su Pedido ya posee una Orden de Compra.
					</p>
					<a href="{% url 'download' form_po.po_file %}">
						<button style="float:center;" class="btn btn-danger">
							<i class="fa fa-download" aria-hidden="true"></i> 
								Descargar Orden de Compra
						</button>
					</a>
				    <hr class="hr-red"><br>
					<h2>Comprobantes de Pago</h2>
					{% if not vouchers %}
					<p>
						Para finalizar su pedido y generar una fecha de entrega, por favor suba el/los comprobante(s) de pago correspondientes a la cotización Nº {{quote}}
					</p>
					<form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
						<div class="col-md-6">
							{% csrf_token %}
					        {{ form_vo | bootstrap }}
				        </div>
				        	{% if error_message %}
								<strong style='color:red;'>
								{{ error_message }} <br><br>
								</strong>
							{% endif %}
							<button style="float:center;" type="submit" class="btn btn-danger" name="VO"
						    	    onclick="return confirm('¿Está seguro que desea enviar este dato de pago?')">
								<i class="fa fa-upload" aria-hidden="true"></i> 
								Enviar
							</button>
					</form>
					{% else %}
						<p> Este pedido tiene los siguientes comprobantes de pago asociados:</p>
						<table class="table">
						  <tbody>
							{% for voucher in vouchers %}
							    <tr>
							      <th># {{voucher.id}}</th>
							      <th>{{voucher.PaymentType}}</th>
							      {% if voucher.method == 'C' %}
							      	<td>Cheque</td>
							      {% elif voucher.method == 'T' %}
							      	<td>Transferencia</td>
							      {% else %}
							      	<td>Depósito</td>
							      {% endif%}
							      <td>
							      	<a href="{% url 'download' voucher.voucher %}">
							      		<i class="fa fa-download" aria-hidden="true"></i> Bajar Comprobante
									</a>					     
							      </td>
							    </tr>
							{% endfor %}
							</tbody>
						</table>


						<h5>Subir nuevos comprobantes de pago</h5>
						<form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
							<div class="col-md-6">
								{% csrf_token %}
						        {{ form_vo | bootstrap }}
				        	</div>
				        	{% if error_message %}
								<strong style='color:red;'>
								{{ error_message }} <br><br>
								</strong>
							{% endif %}

							<button style="float:center;" type="submit" class="btn btn-danger" name="VO"
						    	    onclick="return confirm('¿Está seguro que desea enviar este dato de pago?')">
								<i class="fa fa-upload" aria-hidden="true"></i> 
								Enviar
							</button>
						</form>

					{% endif %}
					{% endif %}
				    {% if quote.status == 'T' and has_in %}
						{% if has_in %}
							<a href="#" onclick="return popitup('/invoices/view/{{ invoice.id }}')">
								<button style="float:center;" class="btn btn-danger">
									<i class="fa fa-eye" aria-hidden="true"></i> 
										Ver Factura
								</button>
							</a>
						{% endif %}
				    {% endif %}
			    </div>
			</div>
		</div>
	<!-- /Main -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				{% if user.is_authenticated %}
					<a href="{% url 'dashboard' %}"> Administración </a>  | 
					<a href="{% url 'logout' %}">Cerrar Sesión</a>
				{%else%}
					<a href="{% url 'access' %}"> Iniciar Sesión </a> 
				{% endif %}
				<p></p>
				<p>
					Copyright © 2017 | Hilandería Hilcor C.A.  RIF: J-29395972-1. Avenida Los Pioneros, Edficio Hilcor. Zona Industrial de Araure, estado Portuguesa. Teléfonos 664.51.08 /621.58.78. Email hilanderia.hilcor@hotmail.com
				</p>
			</div>
		</div>
	</body>
</html>